<div class="bg-primary-100">
  <div class="container-lg">
    <footer class="border-top border-gray-300 text-center">
      <span class="fst-normal fs-lg-6 fs-14 py-4">©Vivre 2024 All right Reserved</span>
    </footer>
  </div>  
</div>