<div class="bg-primary-100">
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg py-lg-36 pxy border-gray-300 border-bottom">
      <div class="container-fluid px-0">
        <a class="navbar-brand me-lg-32" href="index.html">
          <h1 class="ff-GurmukhiMN fw-light text-gray-500">
            Vivre
          </h1>
        </a>
        <!-- 漢堡選單 -->
        <button class="navbar-toggler border-0 p-12 hamburger-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon icon-24"></span>
        </button>
        <div class="offcanvas offcanvas-end w-100 bg-primary-100" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <!-- 漢堡選單關閉鈕 -->
          <div class="offcanvas-header p-12 hamburger-close-btn">
            <button type="button" class="btn-close icon-20 text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body py-12">
            <form class="d-flex">
              <div class="input-group position-relative">
                <input type="search" class="form-control border-gray-200 rounded-pill" placeholder="搜尋文章" aria-label="Search">
                <a class="d-block position-absolute d-flex align-items-center top-50 end-0 translate-middle" type="button" id="button-addon1">
                  <span class="material-symbols-outlined text-accent-200">search</span>
                </a>      
              </div>
            </form>        
            <ul class="navbar-nav header-links flex-grow-1 justify-content-lg-end align-items-lg-center">
              <li class="mt-4 mt-lg-0 ">
                <a class="active p-12 p-lg-0" aria-current="page" href="articles-strict.html">所有文章</a>
              </li>
              <li class="mt-4 mt-lg-0 ">
                <a class="p-12 p-lg-0" href="subscribe.html">訂閱方案</a>
              </li>
              <li class="mt-4 mt-lg-0 ">
                <a class="p-12 p-lg-0" href="about.html">關於我們</a>
              </li>
              <li class="mt-4 mt-lg-0 ">
                <a href="sign-up.html" class="btn btn-accent-200 text-white rounded-pill mt-3 mt-lg-0 w-100">
                  <span>登入 / 註冊</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>