@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import './utils/mixins';
@import "../../node_modules/bootstrap";
:root,
[data-bs-theme="light"] {
  --#{$prefix}border-radius-12: #{$border-radius-12};
}

$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);     

$utilities: map-merge(
  $utilities,
  (
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (6: var(--#{$prefix}border-radius-12)),
        ),
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";


@import "./base/base.scss";
@import "./components/tag.scss";

@import './layout/header.scss';

@import './pages/index.scss';

