// header
.outline-1{
  outline: 1px solid blue;
}
.outline{
  outline: 1px solid red;
}
.lh-1{
  line-height: 1;
}
.top-sm{
  top: -14px;
}
.start-sm{
  left: 16px;
}
.ac-c{
  align-content: center;
}
.ff-GurmukhiMN{
  font-family: "Gurmukhi MN", serif;
}
.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px;
}
.fs-40{
  font-size: 40px;
}
.cursor-none{
  cursor: unset;
}
.fw-black{
  font-weight: $black;
}
.w-20{
  width: 60%;
}
.gap-10{
  gap: 10px !important;
}
.gap-12{
  gap: 12px;
}
.gap-20{
  gap: 20px;
}

.me-32{
  margin-right: 32px;
}
.mt-40{
  margin-top: 40px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-28{
  margin-bottom: 28px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-36{
  margin-bottom: 36px;
}
.mx-12{
  margin: 0 12px;
}
.mx-18{
  margin: 0 18px;
}
.mx-minus{
  margin: 0 -12px;
}
.my-60{
  margin: 60px 0;
}
// padding
.py-sm{
  padding: 5px 0;
}
.py-10{
  padding: 10px 0;
}
.py-12{
  padding: 12px 0 !important;
}
.p-40{
  padding: 40px;
}
.p-12{
  padding: 12px;
}
.pb-44{
  padding-bottom: 44px;
}
.py-12{
  padding: 0 12px;
}
.px-12{
  padding: 0 12px;
}
.py-36{
  padding: 36px 0;
}
.pxy{
  padding: 6px 8px 6px 0;
}
.article-mb-0{
  p{
    margin-bottom: 0;
  }
}
// icon size
.icon-24{
  width: 24px;
  height: 24px;  
}
//border
.img-shape{
  border-radius: 20px 0px 20px 0px;
}
.image-hover{
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-end-end-radius: 20px;
    opacity: 0;
    transition: 0.3s;
    background-color: black;
  }
  &:hover::after{
    opacity: 0.3;
    cursor: pointer;
  }
}
.icon-20{
  width: 20px;
  height: 20px;  
}
.icon-16{
  width: 16px;
  height: 16px;  
}
.hamburger-close-btn{
  margin: 8px 12px 24px 0;
}
.hamburger-btn{
  &:hover{
    background: $primary-300;
  } 
}
.header-links{
  a:hover{
    color: $gray-400;
  }
  @include desktop{
    margin: 0 -10px;
    li{  
      display: block;
      padding: 0 10px;
    }
  }  
}

.btn-accent-200{
  color: white;
  padding: 16px 24px;
  border: none;
  &:hover{
    background: $accent-300;
    color: white;
  }
}
.text-accent-200:hover{
  color: $accent-300 !important;
}
.icon-center{
  text-align: center;
}
.link-accent-100{
  &.active{
    background: $accent-100 !important;
    color: $gray-600 !important;
  }
  &:hover{
    color: $accent-200 !important;
  }
}
.rounded-lg{
  border-radius: 12px;
}

@include desktop{
  .gap-lg-20{
    gap: 20px !important;
  }
  .gap-lg-40{
    gap: 40px !important;
  }
  .fw-lg-normal{
    font-weight: 400;
  }
  .fs-lg-16{
    font-size: 16px;
  }
  .fs-lg-20{
    font-size: 20px !important;
  }
  .fs-lg-24{
    font-size: 24px;
  }
  .fs-lg-32{
    font-size: 32px;
  }
  .fs-lg-40{
    font-size: 40px;
  }
  .fs-lg-50{
    font-size: 50px;
  }
  .mb-lg-sm{
    margin-bottom: 12px;
  }
  .mt-lg-80{
    margin-top: 80px;
  }
  .me-lg-12{
    margin-right: 12px;
  }
  .mb-lg-36{
    margin-bottom: 36px ;
  }
  .mb-lg-20{
    margin-bottom: 20px !important;
  }
  .mb-lg-40{
    margin-bottom: 40px;
  }
  .ms-lg-60{
    margin-left: 60px;
  }
  .mb-lg-minus{
    margin-bottom: -24px;
  }
  .py-lg-7-1{
    padding: 7.5px 0;
  }
  .p-lg-40{
    padding: 40px !important;
  }
  .py-lg-36{
    padding: 36px 0;
  }
  .py-lg-40{
    padding: 40px 0;
  }
  .py-lg-80{
    padding: 80px 0 !important;
  }
  .my-lg-80{
    margin: 80px 0 !important;
  }
  .mt-lg-80{
    margin-top: 80px;
  }
  .my-lg-36{
    margin: 36px 0;
  }
  .my-lg-100{
    margin: 100px 0;
  }
  .position-lg-static{
    position: unset !important;
  }
  .rounded-lg-xl{
    border-radius: 20px;
  }
}  

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
.swiper-button-style{
  width: 56px;
  height: 32px;
  border: 1px solid $gray-400;
  border-radius: 100px;
  &:hover{
    background: $gray-400;
    color: white !important;
  }
}
.divider{
  border: 1px solid $gray-400;
  height: 1px;
  width: 80px;
  margin: 0 20px;
}
.end-sm{
  right: -48px;
}

@include mobile{
  .tab-pane.show-sm-tab-pane.show{
    display: block;
  }
  .overflow-sm-hidden{
    // overflow-x: hidden;
    overflow-x: scroll;
  }
  div.overflow-sm-hidden::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}  
.img-reg{
  width: 306px;
  height: 236px;
}