<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-lg py-lg-100 py-60">
      <div class="row row-cols-lg-2 row-cols-1 justify-content-center">
        <div class="flex-column bg-white p-lg-40 p-4 border border-primary-300 rounded-6">
          <form class="">
            <fieldset>
              <legend class="text-accent-200 mb-lg-40 mb-4 fw-black">註冊</legend>
              <div class="d-flex gap-3 flex-column mb-lg-40 mb-4">
                <div class="fw-bold">
                  <label for="account" class="form-label mb-lg-12">會員帳號</label>
                  <input type="account" id="account" class="form-control bg-gray-100 py-12 px-3 border-0" aria-describedby="accountHelpBlock" placeholder="請輸入會員帳號">              
                </div>
                <div class="fw-bold">
                  <label for="password" class="form-label mb-lg-12">密碼</label>
                  <input type="password" id="password" class="form-control bg-gray-100 py-12 px-3 border-0" aria-describedby="passwordHelpBlock" placeholder="請輸入密碼">              
                </div>
                <div class="fw-bold">
                  <label for="email" class="form-label mb-lg-12">電子信箱</label>
                  <input type="email" id="email" class="form-control bg-gray-100 py-12 px-3 border-0" aria-describedby="emailHelpBlock" placeholder="請輸入電子信箱">              
                </div>
              </div>        
              <button type="submit" class="btn btn-accent-200 rounded-pill fs-6 fw-bold d-flex justify-content-center gap-12 w-100">
                <span class="">立即註冊</span>
                <span class="material-symbols-outlined icon-center">arrow_right_alt</span>
              </button>
            </fieldset>
          </form>    
          <div class="my-lg-40 my-4 py-12">
            <div class="position-relative border-top text-gray-300">
              <span class="position-absolute top-0 start-50 translate-middle d-block bg-white px-12 text-gray-300">或以其他方式註冊</span>
            </div>
          </div>
          <button class="btn btn-gray-100 py-12 rounded-pill fs-6 fw-bold d-flex justify-content-center gap-12 w-100 mb-2">
            <img src="../assets/images/icons-google.png" alt="icons-google">
            <span class="">使用 Google 註冊</span>
          </button>
          <button class="btn btn-gray-100 py-12 rounded-pill fs-6 fw-bold d-flex justify-content-center gap-12 w-100 mb-lg-40 mb-4">
            <img src="../assets/images/icons-facebook.png" alt="icons-facebook">
            <span class="">使用 Facebook 註冊</span>
          </button>
          <div class="d-flex justify-content-center gap-12">
            <span>已經是會員了？</span>
            <a type="button" href="sign-in.html" class="text-accent-200 hover">點此登入</a>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
